@charset "UTF-8";

/* 페이지 타이틀 */

.container {
	height:1000px;
}

.page-title h1 {
	position: absolute;
    top: 115px;
    left: 60px;
    font-size: 170px;
    font-weight: bold;
    float: left;
    color: rgba(255, 255, 255, 0.3);
    z-index:9000;
}

.search-img img {
	width:100%;
	height:700px;
	object-fit:cover;
}

/* 페이지 타이틀 끝 */

.album-img {
	margin-bottom:50px;
}

.album-img img {
	width:100%;
	height:300px;
	overflow:hidden;
}

.btn-cancel, .btn-reset {
	width: 40%;
    height: 50px;
    background: #1c1c1c;
    color: #ffe716;
    font-weight: bold;
    border-color: #ffe716;
    margin: 20px 21px;
}

.btn-albumimg, .btn-regist {
	width: 100%;
    height: 50px;
    background: #1c1c1c;
    color: #ffe716;
    font-weight: bold;
    border-color: #ffe716;
}

/* 테이블 */

table,tr,th,td {
	color:#fff;
}

table {
	
}

th {
	height: 50px;
    width: 300px;
    font-size: 24px;
}

td {
	
}

.mu-info {
	color:#1c1c1c;
	width:335px;
}

#lyric {
	height:200px;
}

/* 테이블 끝 */