<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volume.mapper.MemberMapper">

	<sql id="memberColumns">
		users_no,users_id,users_pw,users_name,users_phone,users_nickname,users_email,users_regdate,users_profile,
		users_introduction,users_subscriptioncount
	</sql>
	
	<insert id="signUp">
		<!-- <selectKey keyProperty="users_no" order="BEFORE" resultType="Long">
			select users_seq.nextval from dual
		</selectKey> -->
		insert into users (
			users_no, users_id, users_pw, users_name, users_phone, users_nickname, users_email, users_regdate 
		) values (
			users_seq.nextval, #{users_id}, #{users_pw}, #{users_name}, #{users_phone}, #{users_nickname}, #{users_email}, sysdate 
		)
	</insert>
	
	<select id="getGenre" resultType="com.volume.domain.GenreVo">
		select * from genre
	</select>
	
	<insert id="preferInsert">
		insert into prefer (prefer_no, prefer_userno, prefer_genreno) 
		values (prefer_seq.nextval, #{users_no}, #{genre_no})
	</insert>

	<!-- 회원 상세정보 조회 -->
	<select id="findByLoginId" parameterType="string" resultType="com.volume.domain.UsersVo">
		select
			<include refid="memberColumns"/>
		from
			users
		where
			users_id = #{users_id}		
	</select>
	
	<select id="getUserNoFromId" resultType="int">
		select users_no from users where users_id = #{users_id};
	</select>

	<select id="countByLoginId" parameterType="string" resultType="int">
		select count(*) from users where users_id = #{value}
	</select>
	
	<select id="countByLoginUsername" parameterType="string" resultType="int">
		select count(*) from users where users_name = #{value}
	</select>
	
</mapper>
