<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volume.mapper.PlaylistMapper">

	<select id="getlist" resultType="com.volume.domain.PlaylistVo">
		select * from playlist
	</select>

</mapper>
