@charset "UTF-8";

.upper-info, .uppermaking-preview {
	display:inline-block;
	vertical-align:top;
}

th,td {
	color:#fff;
}

.uppermaking-preview img {
	width: 400px;
    height: 400px;
    float: right;
}

.uppermaking-preview {
	float:right;
}