@charset "UTF-8";

.upper-info, .uppermaking-preview {
	display:inline-block;
	vertical-align:top;
}

th {
	color: #fff;
    width: 150px;
    height: 100px;
    font-size: 20px;
}

td {
	
}

.uppermaking-preview img {
	width: 400px;
    height: 400px;
    float: right;
}

.uppermaking-preview {
	float:right;
}