@charset "UTF-8";

.page-title h1 {
	margin : 35px auto 0 45px;
    top: 80px;
    left: 60px;
    font-size: 170px;
    font-weight: bold;
    float: left;
    color: rgba(255, 255, 255, 0.3);
    z-index:9000;
}

.container-terms {
	text-align: center;
	padding : 200px auto;
	width: 900px; 
	height: auto;
	border:1px solid #FFE716;
	border-radius: 2%;
	display: block;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin: 0 auto; /* 수평 가운데 정렬 */
}

.container-terms label {
	color: #FFE716;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:10px;
    margin-top:5px;
}

.container-terms button {
    width: 180px; /* 버튼의 가로 너비를 100%로 설정하여 부모 요소의 폭에 맞춤 */
    border-radius: 5%;
    height: 50px; /* 높이 조정 */
    font-size: 20px; /* 폰트 크기 조정 */
    vertical-align: bottom;
    background:#FFE716;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.container-terms button:hover {
	background:#FFFFFF;
}

.btn-login-container {
    text-align: center; /* 내부 요소 가운데 정렬 */
    margin-top: 0px;
    margin-bottom: 30px;
}

.btn-login-container a {
    margin-right: 7px; /* 링크 간격 설정 */
    color: #FFE716; /* 링크의 텍스트 색상을 노란색으로 설정 */
}

.termsForm {
	width:700px;
	margin:20px auto 5px;
	resize: none;
	pointer-events: none;
}

.checkbox {
	display:inline-block;
	text-align: right;
	margin-left: 10px;
}

.essential {
	color: #FFE716;
}

.agreebox {
	margin: -10px 0 10px 500px;
}

.term {
	margin:10px 0;
}


